# Node.js
node_modules/

# Production build
dist/
build/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor configs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Optional: TypeScript cache
*.tsbuildinfo

# Optional: Coverage results
coverage/

# Optional: Yarn v2 PnP
.pnp.*
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# Optional: WebStorm file-based indexes
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionarie
